%h1 Phaser Catalog
%table#catalog
  %tr
    %th Phaser Type
    %th Price
    %th In Stock
    %th Purchase
  - phasers.each do |phaser|
    %tr
      %td
        = phaser.name
      %td
        = phaser.price
      %td
        = phaser.quantity
      %td
        %form.checkout{:action => '/receipt', :method => 'post'}
          %input{:type => 'number', :value => 1, :name => 'receipt[quantity]'}
          %input{:type => 'hidden', :value => phaser.id, :name => 'receipt[phaser_id]'}
          %input{:type => 'hidden', :value => phaser.name, :name => 'receipt[name]'}
          %input{:type => 'hidden', :value => phaser.price, :name => 'receipt[price]'}
          %input{:type => 'hidden', :value => status, :name => 'receipt[status]'}
          %input{:type => 'submit', :value => 'Checkout with 2CO'}
